<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>BTMainFile</key>
  <string>index.html</string>
  <key>BTWindowWidth</key>
  <integer>1024</integer>
  <key>BTWindowHeight</key>
  <integer>200</integer>
  <key>BTWindowMode</key>
  <string>desktop</string>
  <key>BTThemeName</key>
  <string>Aldo The Apache</string>
  <key>BTThemeIdentifier</key>
  <string>com.trillocity.Aldo</string>
  <key>BTThemeVersion</key>
  <string>1.0</string>
  <key>BTThemeArtist</key>
  <string>Colin Pilloud</string>
  <key>BTArtistURL</key>
  <string>http://colinpilloud.com</string>
  <key>BTThemePreviewImage</key>
  <string>preview.png</string>
  <key>BTTrackFunction</key>
  <string>trackUpdate</string>
  <key>BTPlayStateFunction</key>
  <string>playStateChanged</string>
</dict>
</plist>
